#app {
  .alert {
    .badge {
      margin-left: 1rem;
    }
  }

  .btn-xs {
    padding: .15rem .25rem;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: .1rem;
  }

  address {
    margin-bottom: 0;
  }

  .import-debug {
    font-size: 11px;
    padding: 0.25rem;
    white-space: pre-wrap;
    font-family: "Roboto Mono", monospace;
  }

  td.status-badges {
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    max-width: 15rem;
    .badge {
      margin-right: 3px;
    }
  }
  td.shipping-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 15rem;
    overflow: hidden;
  }

  .import-status-icon {
    font-size: inherit;
  }
  .progress {
    height: 5px;
  }

  tfoot {
    font-weight: bold;
  }

  .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .form-inline {
      width: 100%;
    }
    .order-status-progress {
      .progress-bar {
        min-width: 1rem;
      }
      flex-grow: 1;
      & > div {
        width: 100%;
      }
    }
  }
}

